.purchasePage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: white;

  h2 {
    margin-bottom: 30px;
  }

  .importantParagraph {
    font-size: 18px;

    span {
      text-transform: uppercase;
      color: orange;
    }
  }

  .priceContainer {
    display: flex;
    justify-content: center;

    p {
      font-size: 35px;
      font-weight: bold;
    }
  }

  .emoji {
    font-size: 50px;
  }

  .addressInput {
    height: 45px;
    margin-bottom: 15px;
  }

  .transaction {
    resize: none;
    margin-bottom: 15px;
  }

  .signButton {
    margin-top: 5px;
  }

  .manualRelayText {
    margin-top: 15px;
  }

  .challenge {
    margin-bottom: 30px;
  }

  .response {
    margin-bottom: 15px;
  }
}
