@import 'shared';

.freeModeBanner {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 14px 30px;

  .tagline {
    flex-grow: 1;
  }

  button {
    flex-shrink: 0;
  }
}
