.homePage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 5rem;
  }

  a {
    font-size: 1.4rem;
    color: white;
    margin-left: 15px;
  }

  .stretcher {
    flex-grow: 1;
  }
}
