@import 'shared';

$spinner_color: #408fff;

.container {
  min-height: 64px;
  min-width: 64px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring {
  width: 64px;
  height: 64px;
  opacity: 0.4;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid $spinner_color;
    border-radius: 50%;
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $spinner_color transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;

    // Override property (``*:first-child: margin-top 0``) from
    // flexibits.com/master2.scss.
    margin-top: 6px !important;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
